<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.koskosan">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.koskos"
        tools:replace="android:allowBackup">
        <activity android:name=".dashboard.checkout.PaymentPutriActivity"></activity>

        <service
            android:name=".firebase.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity android:name=".dashboard.checkout.CheckoutPutriActivity" />
        <activity android:name=".dashboard.seemore.PutriSeeMoreActivity" />
        <activity android:name=".dashboard.seemore.PutraSeeMoreActivity" />
        <activity android:name=".dashboard.checkout.PaymentPutraActivity" />
        <activity android:name=".dashboard.checkout.CheckoutActivity" />
        <activity android:name=".dashboard.DetailPutriActivity" />
        <activity android:name=".dashboard.DetailPutraActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".OnBoarding.Ob1Activity" />
        <activity android:name=".google.LoginGoogleActivity" />
        <activity android:name=".home.HomeScreenActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>